*{}


body {
    font-family: 'Figtree', sans-serif;
}

.container{
     display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 8%);
    height: 100vh;
   
}

.card{
    background: hsl(0, 0%, 12%);
   margin-top: 100px;
    height:  70%;
    width: 50%;
  padding: 20px;
  width: 370px;
  border-radius: 8px;
}

.profile-img{
    border-radius: 50%;
    margin-left: 135px;
    width: 100px;
    height: 100px;
    margin-bottom: 0;
}

/* .profile-content{
    margin-left: 120px;
} */


h3{
    margin-top: 20px;
    margin-left: 80px;
   color: hsl(0, 0%, 100%);
   font-size: 30px;
   margin-bottom: 0px;
   font-weight: 700;
}

h4{
    margin-left: 100px;
    color:hsl(75, 94%, 57%);
    margin-top: 10px;
    font-weight: 600;
}

p{
    margin-left: 60px;
    color:#fff ;
    font-weight: 400;
}

.btn{
    background: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    padding: 12px 0px;
    margin: 10px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    width: 350px;
    
}